.cs_banner {
  position: relative;
  &.cs_style1 {
    img{
      width: 100%;
      transition: all 1s ease;
    }
    .cs_zoom:hover .cs_zoom_in{
      transform: scale(1.25);
    }
    .cs_banner_content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 28px;
      .cs_banner_title {
        margin-bottom: 5px;
      }
      .cs_banner_text {
        margin-bottom: 13px;
      }
    }
  }
}
