.cs_hero.cs_style1 {
  height: 800px;
  .cs_hero_sub_title {
    margin-bottom: 5px;
  }
  .cs_hero_title {
    margin-bottom: 10px;
  }
  .cs_hero_text {
    margin-bottom: 32px;
  }
  @media screen and (max-width:991px) {
    height: 700px;
  }
  @media screen and (max-width:767px) {
    height: 600px;
  }
}
