/*--------------------------------------------------------------
7. Slider
----------------------------------------------------------------*/
.cs_slider.cs_style1 {
	position: relative;
}

.swipe-arrow.cs_hidden,
.pagination.cs_hidden {
	display: none;
}

.pagination.cs_style1 {
	ul {
		padding: 0;
		margin: 0;
		display: flex !important;
		list-style: none;
	}
	li {
		height: 10px;
		width: 10px;
		border-radius: 6px;
		background-color: rgba($accent, 0.4);
		margin-right: 10px;
		cursor: pointer;
		transition: all 0.4s ease;

		&.slick-active {
			width: 25px;
			background-color: $accent;
			border-radius: 10px;
		}
	}
	button {
		display: none;
	}
}
.swipe-arrow.cs_style1 {
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
	.slick-arrow {
		height: 45px;
		width: 45px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: 1px solid $primary;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: inherit;
	}
	.slick-arrow-left {
		left: 0;
	}
	.slick-arrow-right {
		right: 0;
	}
}

.cs_slider.cs_style1:hover .swipe-arrow.cs_style1 {
	opacity: 1;
	visibility: visible;

	.slick-arrow-left {
		left: -60px;
	}
	.slick-arrow-right {
		right: -60px;
	}
}

@media screen and (max-width: 991px) {
	.st-slider .pagination.st-hidden {
		display: block;
		margin-top: 20px;
	}
	.st-slider .pagination.st-style1 ul,
	.st-slider .pagination.st-style2 ul {
		justify-content: center;
	}
	.swipe-arrow.st-style1 {
		display: none;
	}
	.st-hidden.st-hidden-md,
	.swipe-arrow.st-style2 {
		display: none !important;
	}
}
