.cs_testmonial{
  transition: all 0.4s ease;
  &.cs_style1{
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(0, 117, 183, 0.1);
    padding: 0 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-radius: 10px;
  
    .cs_testmonial_left{
      height: 131px;
      width: 138px;
      flex: none;
      position: relative;
      margin-right: 27px;
    }

    .cs_rattings{
      color: gold;
      margin-bottom: 12px;
    }
    .cs_testmonial_text{
      margin-bottom: 16px;
    }
    .cs_author_name{
      margin-bottom: 0;
    }
    > svg{
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
    @media screen and (max-width: 600px) {
      .cs_testmonial_in.cs_vertical_middle{
        flex-direction: column;
      }
      .cs_testmonial_left{
        margin: 0;
      }
      .cs_testmonial_right{
        margin-top: 30px;
      }
    }
  }
}