/*--------------------------------------------------------------
3. General Style
----------------------------------------------------------------*/
.cs_mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_flex{
  display: flex;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_space_between {
  display: flex;
  justify-content: space-between;
}

.cs_zoom {
  position: relative;
  transition: all 0.4s ease-in-out;
  &:hover .cs_zoom_in {
    transition: inherit;
    transform: scale(1.07);
  }
}

.cs_vertical_middle {
  display: flex;
  align-items: center;
  height: 100%;
  .cs_vertical_middle_in {
    width: 100%;
  }
}

.cs_line_through{
  text-decoration: line-through;
}
.cs_bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cs_bg_cover{
  background-size: cover;
}
.cs_no_repeat {
  background-repeat: no-repeat;
}
.cs_bg_center{
  background-position: center center;
}
.cs_bg_center_right{
  background-position: center right;
}
.cs_bg_center_left{
  background-position: center left;
}


.cs_sticky_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.cs_section_sub_title{
  svg{
    margin-right: 10px;
    fill: $accent;
  }
}

.cs_full_width_left{
  width: 50vw;
  height: 100%;
  margin-left: calc(-50vw + 102.7%);
}

.cs_full_width_right{
  height: 100%;
  width: 50vw;
}

.cs_text_center{
  text-align: center;
}
.cs_text_underline{
  text-decoration: underline;
}

// theme 
.cs_hidden{
  display: none !important;
}

.cs_radius_3px{
  border-radius: 3px;
}
.cs_radius_5px{
  border-radius: 5px;
}
.cs_radius_10px{
  border-radius: 10px;
}
.cs_radius_50{
  border-radius: 50%;
}

.cs_overflow_hidden{
  overflow: hidden;
}

.cs_block{
  display: block;
}

.cs_inline_block{
  display: inline-block;
}

.cs_inline_flex{
  display: inline-flex;
}

.cs_flex{
  display: flex;
}

.cs_btn.cs_style1{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 26px;
  padding-right: 26px;
}


.cs_white_color,
.cs_white_color_hover:hover{
  color: $white;
}
.cs_white_bg,
.cs_white_bg_hover:hover{
  background-color: $white;
}

.cs_black_color,
.cs_black_color_hover:hover{
  color: $black;
}
.cs_black_bg,
.cs_black_bg_hover:hover{
  background-color: $black;
}

.cs_accent_color,
.cs_accent_color_hover:hover{
  color: $accent;
}
.cs_accent_bg,
.cs_accent_bg_hover:hover{
  background-color: $accent;
}

.cs_primary_color,
.cs_primary_color_hover:hover{
  color: $primary;
}
.cs_primary_bg,
.cs_primary_bg_hover:hover{
  background-color: $primary;
}

.cs_secondary_color,
.cs_secondary_color_hover:hover{
  color: $secondary;
}
.cs_secondary_bg,
.cs_secondary_bg_hover:hover{
  background-color: $secondary;
}

.cs_tertiary_color,
.cs_tertiary_color_hover:hover{
  color: $tertiary;
}
.cs_tertiary_bg,
.cs_tertiary_bg_hover:hover{
  background-color: $tertiary;
}

// .cs__color,
// .cs__color_hover:hover{
//   background-color: ;
// }
// .cs__bg,
// .cs__bg_hover:hover{
//   background-color: ;
// }


@media screen and (max-width: 991px) {
  .cs_col_md_reverse{
    flex-direction: column-reverse;
  }
  .cs_full_width_left{
    margin: auto;
    width: 90%;
  }
  .cs_full_width_right{
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .cs_col_sm_reverse{
    flex-direction: column-reverse;
  }
  .cs_bg_sm_center{
    background-position: center;
  }
}
@media screen and (max-width: 575px) {
  .cs_col_xm_reverse{
    flex-direction: column-reverse;
  }
}

