//Theme colors
  $black: #000;
  $white: #fff;
  $primary: #444444;
  $secondary: #777777;
  $tertiary: #FAF8F6;


  
//Theme fonts
  $primary_secondary_font: 'Poppins', sans-serif;;



// Accent colors
  $accent: #0075B7;
